@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
}

.topnav a{
    
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: poppins;
  }

 .navlinks{
    display: flex;
    list-style: none;
    float: right;
    padding: 15px 16px;
  }


.topnav a:hover,.topnav .active a, .topnav a.myname:hover {
    color: orange;
    
  }


  .topnav a.myname {
    float:left;
    color: white;
    font-size: 26px;
    padding: 8px 100px;
    font-family:"Caveat";
  }


/*------------------------------------------Home--------------------------------------------*/
.one{
  padding-bottom: 100px;
}

.me2{
  margin-top: 14%;
}
  .hometext{
    font-family: "Poppins";
    margin-top: 37%;
    text-align: left;
    font-weight: 700; 
  }

  .hometext1{ 
    font-size: 20px;
  }

  .hometext2{ 
    font-size: 35px;
  }

  .hometext3{
    font-family: poppins;
  }

  .cv{
    padding:10px 24px ;
    background-color: black;
    color:white;
    border-radius: 8px;
    text-decoration: none;
    font-family: poppins;
    text-align: center;


  }

  .contact1{
    padding:10px 28px;
    background-color: orange;
    color:white;
    border-radius: 8px;
    text-decoration: none;
    font-family: poppins;
    text-align: center;

  }

 
  
/*------------------------------------------About--------------------------------------------*/

.two{
  background-color: black;
  padding-bottom: 100px;
}
  .aboutme{
      text-align: left;
      color: white;
      font-size: 35px;
     
  }

  .aboutrightside{
    padding-top: 80px;
    
  }

  .aboutpara{
    text-align: left;
    color: white;
    font-family:Fira Code ;
  }

.aboutleftside{
  padding-top: 170px;
  padding-left: 100px;
}
  .me1{
    box-shadow:0 0 25px orange,
               0 0 50px orange;
    border-radius: 50%;
  }

  .social{
    text-align: center;
  }


  .abouttext{
    text-align: center;
  }

  .institute{
    font-style: italic;
    font-size: 14px;
  }

  .aboutname{
    font-weight: 600;
    font-size: 14px;
  }

  .abouttype{
    font-weight: 700;
    font-size: 16px;
  }




  /* @media screen and(max-width:980px){
    .two.UOK,.two.BIT,.two.pb{
      margin-bottom 2px;
      flex-basis: 40%;
    } 
    .two .pb{
      flex-basis: 100%;
      margin: 0;
    }
    .two .BIT{
      margin-right: 0;
    }
  }
  @media screen and(max-width:680px){
    .two.UOK,.two.BIT,.two.pb{
      margin:0 0 5px 0;
      flex-basis: 100%;
    }
  } */
  /*------------------------------------------Skills--------------------------------------------*/
.three{
  padding-bottom: 120px;
}

.sk{
  text-align: center;
  margin-top: 6%;
  margin-bottom: 5%;
  font-family: Ubuntu Sans Mono;
  font-weight: 400;
  font-size: 50px;
}

.l{
  color: orange;
}

.three h4{
  text-align: center;
}

i{
  padding: 1em;
  text-decoration: none;
  padding-left: 25px;
}

.skilltitle{
  font-family: poppins;
}
.skill{  
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  font-family: Montserrat;
}

.skillstate{
    text-decoration: none;
    padding: 4.5em;
    font-weight: 500;
    font-family: Montserrat;
}

i:before {
  margin-right:1em;
}

.frontskills{
  margin-bottom: 10%;
}
  /*------------------------------------------Projects--------------------------------------------*/
  .four{
    background-color: black;
    /* min-height: 1000px;
    height: 1000px; */
    padding-bottom: 10px;
  }

  .projects{
    color: white;
    text-align: center;
    font-size: 35px;
  }

.pr-text{
  padding-left:px;
  font-family:Montserrat;
  
}

.technology{
  font-weight: 500;
}

.projectname{
  font-weight: 900;
}

.figma,.portfolio,.burger,.elec,.portfolio{
  margin-bottom: 10%;
 
}


.gitlinks{
  padding:10px 24px;
  background-color: black;
  color:white;
  border-radius: 8px;
  text-decoration: none;
  font-family: poppins;
  text-align: center;

}

.projectbox{
  padding: 15px 10px 10px 25px;
}


/*------------------------------------------Contact--------------------------------------------*/
.five{
  margin-top: 8%;
  min-height: 550px;
  height: 550px;
}
.con{
  text-align: center;
  
}
form{
  text-align: center;
  margin: 1rem auto;
}
.inputbox input,textarea{
  border-radius: .8rem;
  background-color: #cfd4d1;
  font-size: 18px;
  padding: 1em;
  margin: 1rem 0;
}

.formbtn{
  background-color: black;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 15px 28px;
  font-weight: 600;
  font-family: poppins;
  text-align: center;
}

 /*------------------------------------------Foot--------------------------------------------*/
 
 .foot{ 
  margin-top: 10%;
  text-align: center; 
  
 }

 .foot2 a{

  color:white;
  text-decoration: none;
  font-family: poppins;
 }

 .foot2 a:hover{
  color: orange;
 }


 /*-------------------------------------------------------------------------------------------*/
section{
  /* height: 100vh; */
  padding: 10px 10px 10px 10px;
}


  